- unless @restaurants == nil
	- @restaurants.each do |restaurant|
		%h3= "#{restaurant.name}"
		%h4= "Avg Rating: #{restaurant.avg_rating}"
		%h4= link_to "Delete Restaurant", restaurant, method: :delete, data: { confirm: "Are you sure you want to delete this restaurant?" }