%h4
	= "#{@review.restaurant.name}"
%h4
	= "Current Rating: #{@review.rating}"
%br
=form_for(@review, url: review_path(@review), html: {method: "patch"} ) do |f|
	= f.label :rating, "New Rating:"
	= f.number_field :rating
	%br
	%br
	= f.submit "Submit", class: "btn btn-primary"